services:

  fuseki:
    image: stain/jena-fuseki:4.8.0
    container_name: fuseki
    platform: linux/amd64
    ports:
      - "9030:3030"
    volumes:
      - ./fuseki/config.ttl:/fuseki/config.ttl
      - ./fuseki/shiro.ini:/fuseki/shiro.ini
      - ./fuseki/databases:/fuseki/databases
      - ./ontology:/ontology
    networks:
      - sie-network

  chromadb:
    image: chromadb/chroma:0.4.24
    container_name: chromadb
    ports:
      - "9040:8000"
    environment:
      - IS_PERSISTENT=1
      - ANONYMIZED_TELEMETRY=0
    volumes:
      - chroma_data:/chroma
    networks:
      - sie-network

  init-chroma:
    image: python:3.11-slim
    container_name: init-chroma
    depends_on:
      - chromadb
    environment:
      CHROMA_URL: "http://sie-embedding:8081"
      # OPENAI_API_KEY: "${OPENAI_API_KEY}"
    volumes:
      - ./init/init-chroma.py:/init-chroma.py
    entrypoint: ["python", "/init-chroma.py"]
    networks:
      - sie-network

  init-fuseki:
    image: curlimages/curl:8.10.1
    container_name: init-fuseki
    depends_on:
      - fuseki
    volumes:
      - ./init/init-fuseki.sh:/init-fuseki.sh
      - ./ontology:/ontology
    entrypoint: ["/bin/sh", "/init-fuseki.sh"]
    networks:
      - sie-network

  sie-embedding:
    build: ./src/main/python/embedding
    container_name: sie-embedding
    ports:
      - "8081:8081"
    networks:
      - sie-network

  sie:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sie
    depends_on:
      - fuseki
      - init-fuseki
      - init-chroma
      - sie-embedding
    ports:
      - "9050:9050"
    environment:
      FUSEKI_URL: http://fuseki:3030/ds
      CHROMA_URL: http://sie-embedding:8081
      SIESERVER_PORT: 9050
      # OPENAI_API_KEY: "${OPENAI_API_KEY}"
      EMBEDDING_ENGINE_TYPE: "none"
      OSS_EMBEDDING_URL: "http://sie-embedding:8081"
    networks:
      - sie-network

volumes:
  chroma_data:

networks:
  sie-network:
