version: "3.9"

services:

  fuseki:
    image: stain/jena-fuseki:4.8.0
    container_name: fuseki
    platform: linux/amd64
    ports:
      - "9030:3030"
    volumes:
      - ./fuseki/config.ttl:/fuseki/config.ttl
      - ./fuseki/shiro.ini:/fuseki/shiro.ini
      - ./fuseki/databases:/fuseki/databases

  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    ports:
      - "9040:8000"
    environment:
      - IS_PERSISTENT=1
      - ANONYMIZED_TELEMETRY=0
    volumes:
      - chroma_data:/chroma

  init-chroma:
    image: python:3.11-slim
    container_name: init-chroma
    depends_on:
      - chromadb
    environment:
      CHROMA_URL: "http://chromadb:8000"
    entrypoint: ["/bin/sh", "-c"]
    command:
      - >
        pip install chromadb openai requests &&
        curl -L -o /tmp/site.jsonld https://www.simplemodeling.org/site.jsonld &&
        python3 /tmp/init-chroma.py
    volumes:
      - ./init/init-chroma.py:/tmp/init-chroma.py

  init-fuseki:
    image: curlimages/curl:8.10.1
    container_name: init-fuseki
    depends_on:
      - fuseki
    volumes:
      - ./init/init-fuseki.sh:/init-fuseki.sh
    entrypoint: ["/bin/sh", "/init-fuseki.sh"]

  sie:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sie
    depends_on:
      - fuseki
      - chromadb
      - init-fuseki
      - init-chroma
    ports:
      - "9050:9050"
    environment:
      FUSEKI_URL: http://fuseki:3030/ds
      CHROMA_URL: http://chromadb:8000
      SIESERVER_PORT: 9050

volumes:
  chroma_data:
