version: "3.9"

services:
  fuseki:
    image: stain/jena-fuseki:4.8.0
    ports:
      - "9030:3030"

  chromadb:
    image: chromadb/chroma:latest
    ports:
      - "9040:8000"
    volumes:
      - chroma_data:/chroma

  sie:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9050:9050"
    environment:
      FUSEKI_URL: http://fuseki:3030/ds
      CHROMA_URL: http://chromadb:8000
      SIESERVER_PORT: 9050

volumes:
  chroma_data:
